.contacts{
  margin-top: 40px;

  &__links{
    display: flex;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    position: absolute;
    bottom: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
  }

  &__image {
    max-width: 400px;
    max-height: 400px;
  }

  &__link {
    color: #1D1D1D;
    font-size: 1.5rem;

    &:hover {
      color: #6c757d;
    }
  }
}
