.desktop{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  span{
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #1D1D1D;
    font-style: italic;
  }

  &__links{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    column-gap: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
  }

  &__link{
    display: flex;
    color: #1D1D1D;
    text-decoration: none;
    align-items: center;

  }

  &__active{
    background: #1D1D1D;
    border-radius: 5px;
    padding: 10px 20px;
    color: #F2F2F2;
    text-decoration: none;
  }
}